header {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 1%;
}

.searchbox {
    font-size: x-large;
    padding-left: 1%;
    margin: 1%;
}

.searchbox1 {
    font-size: x-large;
    padding-left: 1%;
    margin: 1%;
    border-color: black;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.forecast-container {
    display: flex;
}