header{
    background-color: blue;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 1%;
}

.searchbox{
    font-size: x-large;
    padding-left: 1%;
    margin: 1%;
}

main{
    display: grid;
    grid-template-columns: 1 fr 3fr;
    
}